.btn-f {
	padding: 10px 20px;
	margin-top: 20px;
	background-color: #db8300; 
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}


.btn__find-highest-salary:hover {
	background-color: #ff9900;
}

.btn__find-highest-salary:disabled {
	background-color: #cccccc;
	cursor: not-allowed;
}
